@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    font-family: "Merriweather", serif !important;
    font-size: 14px;
    overflow-x: hidden;
}

a:hover {
    color: #e36d6a !important;
}
section {
    padding: 45px 0px;
}

.mt105 {
    margin-top: 105px;
}
p {
    font-size: 14px !important;
    line-height: 26px !important;
}

.breadcrumb .breadcrumb-item {
    font-size: 14px;
}

.breadcrumb .breadcrumb-item a {
    color: #e7403b;
    text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
    color: white;
}

.main_heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.heading3 {
    font-size: 20px;
    font-weight: 700;
}

.desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.main_heading_color {
    color: #e7403b;
}

.underline_heading .main_heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    border-bottom: 2px solid rgba(183, 183, 183, 1);
    width: 320px;
    padding-bottom: 15px;
    position: relative;
    transition: all 0.5s;
    margin-bottom: 15px;
}

.underline_heading .main_heading::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 88px;
    background: #e7403b;
    transition: all 0.5s;
}
.underline_heading .main_heading:hover::after {
    left: 120px;
}

/* ------------------owl carousel -------------- */

/* ------------------------headers--------------- */
header {
    position: sticky;
    background: #fff;
    top: 36px;
    z-index: 99;
}
.bottom_nav_links .nav_links a img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
}

.top_nav_links ul a {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

.phone_email div a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.search_right img {
    cursor: pointer;
}

.search-box {
    background: white;
    position: absolute;
    top: 29px;
    right: 0;
    width: 450px;
    line-height: 69px;
    box-shadow: 0 0 10px rgb(0 0 0 / 11%);
    display: none;
    padding: 15px 20px;
    border-radius: 4px;
}

.search_bar_field {
    display: flex;
    align-items: center;
    gap: 0px;
}

.search-box .search_bar_field input {
    padding: 12px 15px;
    width: 100%;
    line-height: 20px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    background: transparent;
    border: 1px solid #d3d3d382;
    font-size: 13px;
}
.search-box .search_bar_field button {
    line-height: 20px;
    padding: 13px 22px;
    border: none;
    background: #e36d6a;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
.search-box .search_bar_field button:hover {
    background: #333;
}
.bottom_nav_links .nav_links li {
    padding: 10px 0;
    line-height: 17px;
    text-align: center;
}
.form-control:focus {
    box-shadow: none !important;
}
.bottom_nav_links .nav_links a {
    color: #333;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.bottom_nav_links .nav_links li ul.dropdown li {
    display: block;
    padding: 7px 12px;
    text-align: start;
}

.bottom_nav_links .nav_links li ul.dropdown li:hover {
    background: #e36d6a;
}
.bottom_nav_links .nav_links li ul.dropdown li:hover a {
    color: white;
}
.bottom_nav_links .nav_links li ul.dropdown li:last-child {
    border-bottom: none;
}

.bottom_nav_links .nav_links li ul.dropdown {
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
    margin-top: 10px;
    background: white;
    max-width: max-content;
    border-top: 2px solid #e36d6a;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 10px;
    column-count: 2;
    padding-bottom: 10px;
}
.bottom_nav_links .nav_links li:hover ul.dropdown {
    display: block;
    padding-left: 0;
}
header ul.dropdown li a:hover {
    color: #fff !important;
}

.nav_button {
    padding: 6px 15px;
    border-radius: 15px 0px 15px 0px;
    border: none;
    background: #e36d6a;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    transition: all 0.5s;
}

.nav_button img {
    width: 25px;
}
.nav_button img:nth-child(2) {
    display: none !important;
}
.nav_button:hover img:nth-child(2) {
    display: flex !important;
}
.nav_button:hover img:nth-child(1) {
    display: none !important;
}
.nav_button:hover {
    background: #d3d3d34f;
    color: #444444b0;
}

.top_baar {
    background: #000;
    padding: 7px 0px 5px 0px;
}

.top_baar a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.top_baar a span {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.vasker_ville_font {
    font-family: "Libre Baskerville", serif;
}

.search_right {
    position: relative;
}

.top_nav_links {
    float: right;
}

.menu_left_fixed {
    background-image: url(/assets/frontend/images/header_bg_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    width: 226px;
    height: 100%;
    top: 0;
    text-align: center;
    padding-top: 34px;
    z-index: 999;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1600px !important;
}
.pd-0 {
    padding: 0px !important;
}

.top_baar {
    position: sticky;
    width: 100%;
    z-index: 9999;
    padding-left: 45px;
    padding-right: 45px;
    top: 0;
}

.menu_listing ul li {
    list-style: none;
    padding-bottom: 22px;
}

.menu_listing ul {
    padding: 0;
}

.menu_listing ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.menu_btn {
    padding: 8px 16px;
    border: none;
    background: #000;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.5s;
}
.menu_btn:hover {
    background: #e7403b;
    color: black;
}

@media (max-width: 991px) {
    .menu_left_fixed {
        display: none;
    }
    body .nav_bar {
        display: none !important;
    }

    header {
        width: 100%;
    }
}

@media (min-width: 1701px) and (max-width: 2499px) {
    .menu_left_fixed {
        width: 266px !important;
    }
}
@media (min-width: 1466px) {
    .menu_left_fixed {
        width: 249px;
    }
}

@media (max-width: 2800px) and (min-width: 2500px) {
    .menu_left_fixed {
        width: 263px;
    }
}

.goog-te-gadget .goog-te-combo {
    border: 0;
    background: #fff;
    height: 26px;
    margin-top: -2px !important;
    border-radius: 2px;
    outline: -webkit-focus-ring-color auto 0px;
    padding-left: 7px;
    padding-right: 0;
}

.rotate {
    transform: rotate(360deg);
    transition: transform 0.5s;
}

/*header close*/

/* banner open*/
.banner_section {
    position: relative;
}
.overlay_banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000a1;
}

.carousel-caption {
    bottom: 10.25rem !important;
}

.banner_section {
    padding: 0;
}
.banner_content {
    margin-top: 60px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner_section .banner_content span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.banner_section .banner_content h3 {
    color: #e7403b;
}

.banner_section .banner_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 21px;
}

.banner_section .banner_content a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

/* ------------------------ Awards ----------------------- */

.awards_section .awards_box {
    background: white;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 130px;
}
.awards_section .awards_box h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

#awards_slider .awards_box img {
    width: auto !important;
}

#awards_slider .owl-dots {
    display: block;
}

.awards_section button.owl-prev {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    transition: background-color 0.3s, color 0.3s;
    left: 0;
}

.awards_section button.owl-next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    transition: background-color 0.3s, color 0.3s;
    right: 0;
}
.awards_section button i {
    font-size: 30px;
}

.awards_section button:hover {
    background: transparent !important;
    color: #f00 !important;
}
.awards_section .owl-carousel .owl-nav.disabled {
    display: block;
}
/*about us open*/

.about_bg {
    background-image: url(/assets/frontend/images/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about .about_img {
    width: 100%;
}

.about .link_number .number {
    font-size: 36px !important;
    font-weight: 700 !important;
    line-height: 45px !important;
    color: black;
    text-decoration: none;
}

.about_counter_img {
    width: 60px;
    height: 60px;
    background: #f00;
    text-align: center;
    line-height: 80px;
    border-radius: 50px;
    transition: all 0.5s;
}

.about_counter_img:hover {
    background: gray;
}

.about_right_counter {
    display: flex;
    align-items: center;
    gap: 12px;
}

.about_counter_number {
    font-size: 36px !important;
    font-weight: 700;
    line-height: 45px !important;
    margin-bottom: 0;
}
.about_counter_para {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
    margin-bottom: 0;
}

/*------------------practice ---------------- */
.practice {
    background-image: url("/assets/frontend/images/practice_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px 0;
    color: white;
    box-shadow: 1000px 1000px 1000px 1000px inset #000000de;
}

.practice_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
    background-image: url("/assets/frontend/images/practice_box_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    height: 200px;
}

.practice_box .visible_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.6s ease 0s;
}
.practice_w_box a {
    text-decoration: none;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}
/* ::before,
::after {
    position: absolute;
    content: "";
} */

.practice_w_box .btn_hover {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 0px 15px;
}
.practice_w_box .btn_hover span {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

/*--- btn-3 ---*/

.practice_w_box .btn-3 span {
    color: #333;
    background-color: #f4f4f4;
    padding: 37px 10px;
}
.practice_w_box .btn-3::before,
.practice_w_box .btn-3::after {
    background: transparent;
    z-index: 2;
}

/* 15. hover-border-5 */
.practice_w_box .btn_hover.hover-border-5::before,
.practice_w_box .btn_hover.hover-border-5::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    opacity: 0;
}
.practice_w_box .btn_hover.hover-border-5::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    border-top: 2px solid #e7403b;
    border-left: 2px solid #e7403b;
    transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear,
        opacity 0s 0.7s;
}
.practice_w_box .btn_hover.hover-border-5::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    border-bottom: 2px solid #e7403b;
    border-right: 2px solid #e7403b;
    transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
}
.practice_w_box .btn_hover.hover-border-5:hover::before,
.practice_w_box .btn_hover.hover-border-5:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 96%;
    opacity: 1;
}
.practice_w_box .btn_hover.hover-border-5:hover::before {
    position: absolute;
    content: "";
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s; /* 1,2 */
}
.practice_w_box .btn_hover.hover-border-5:hover::after {
    position: absolute;
    content: "";
    transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out,
        opacity 0s 0.3s;
}

.practice_w_card img {
    width: 90px !important;
}

.practice_box:hover .visible_box {
    opacity: 0;
    transform: scale(0);
}

.practice_box .hover_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 74%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    margin: auto;
}
.practice_box .hover_box p {
    font-size: 14px;
}

.practice_box .hover_box a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.practice_box .hover_box a img {
    margin-bottom: 0;
    margin-left: 10px;
}

.practice_box:hover .hover_box {
    opacity: 1;
}

.practice_box img {
    margin-bottom: 20px;
}

.practice_box h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.practice_button {
    background-color: #e7403b;
    padding: 11px 55px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    transition: all 0.5s;
}

.practice_button:hover {
    background-color: lightgray;
}

/* ---------------news Css Start */

.news img {
    width: 100%;
    margin-bottom: 24px;
}

/* --------------------- team member------------------ */

.team {
    background-image: url("/assets/frontend/images/practice.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 45px 0 0 0;
}

.team .heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.team .team_box {
    margin-top: 20px;
}
.team_main_img {
    overflow: hidden;
    margin-bottom: 12px;
}

.team_main_img img:hover {
    transform: scale(1.2) !important;
    transition: 0.5s all;
}

.team_main_img img {
    transition: 0.5s all;
}
#banner_slider_carousel {
    margin-bottom: -49px;
}

#banner_slider_carousel .team_box .team_img {
    width: 100% !important;
    transition: all 0.5s;
}
#banner_slider_carousel .team_box .hover_img {
    width: 359px;
    height: 399px;
    overflow: hidden;
}
#banner_slider_carousel .team_box .team_img:hover {
    transform: scale(1.1);
}
#banner_slider_carousel .owl-dots,
#banner_slider_carousel .owl-nav {
    display: none;
}

.team .team_bio_box {
    background: white;
    color: black;
    padding: 12px 27px;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: fit-content;
    width: 214px;
    position: relative;
    z-index: 99;
}

.team .team_bio_box .name {
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 5px;
}

.team .team_bio_container {
    margin-top: -30px;
}

.team .team_bio_box .role {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: black;
}

/* --------------------- team member------------------ */

.media {
    background: rgba(186, 186, 186, 0.2);
}

.media_link {
    text-decoration: none;
}

.media .media_box {
    margin-top: 20px;
}

.media .media_box img {
    width: 100%;
    margin-bottom: 20px;
}

.media .media_box .title {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#media_slider_carousel .owl-dots,
#media_slider_carousel .owl-nav {
    display: none;
}

#media_slider_carousel .media_box img {
    width: 100% !important;
    height: 230px;
}

/* ---------------------blog ------------------------- */

.blog {
    background-image: url("/assets/frontend/images/blog_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section.blog p.desc {
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog_big_box {
    background: rgba(236, 236, 236, 1);
}

.blog_big_box .blog_img {
    width: 100%;
    object-fit: cover;
}
.blog_details_page_title_desc li {
    font-size: 14px !important;
    line-height: 26px !important;
}
.blog_big_box .blog_content {
    padding: 23px 25px;
}

.blog_big_box .blog_content .author {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(139, 139, 139, 1);
}

.blog_big_box .blog_content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog_big_box .blog_content a {
    color: #e7403b;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.blog .blog_right_box {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 20px;
}
.blog .blog_right_box img {
    width: 160px;
    height: 101px;
}

.blog .blog_right_box a {
    color: #e7403b;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

/* ---------------------Contact ------------------------- */

.contact {
    background-image: url("/assets/frontend/images/practice.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.contact .contact_info_box img {
    width: 200px;
}
.contact .contact_info_box a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.contact .quick_links_box h6 {
    font-size: 15px;
    font-weight: 700;
    line-height: 39px;
    color: #e7403b;
}

.contact .quick_links_box ul {
    padding-left: 0;
    list-style: none;
}

.contact .quick_links_box ul li {
    margin-bottom: 10px;
}

.contact .quick_links_box ul li a {
    color: white;
    text-decoration: none;
}
.contact .quick_links_box ul li a:hover {
    color: white;
}

.contact .contact_form {
    background: rgba(150, 150, 150, 0.2);
    padding: 20px;
    border-radius: 20px;
}

.contact .contact_form h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    color: #e7403b;
}
.contact .contact_form select,
.contact .contact_form input {
    padding: 9px 20px;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    border: 1px solid rgba(73, 73, 73, 1);
    outline: none;
    background: transparent;
    color: rgba(159, 159, 159, 1);
}

.contact .contact_form .contact_form_button {
    padding: 9px 65px;
    background: rgba(231, 64, 59, 1);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    transition: all 0.5s;
}
.contact .contact_form .contact_form_button:hover {
    background: lightgray;
    color: black;
}

.contact .address_box {
    margin-top: 30px;
}

.contact .address_box p {
    font-size: 12px;
    line-height: 21px;
    font-weight: 100;
}

.contact .address_box .title {
    color: #e7403b;
    margin-bottom: 0;
}

/* ----------------- footer ---------------------- */

.footer_count {
    column-count: 5;
}

.footer_colums {
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    counter-increment: brick-counter;
}
.footer {
    background-image: url("/assets/frontend/images/practice.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 45px 0 20px 0;
}

.footer h6 {
    color: #e7403b;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
}

.footer ul li a:hover {
    color: white !important;
}

hr {
    margin: 0 !important;
}

.footer_bottom p {
    margin-bottom: 0;
}

.footer_bottom ul li a {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

/* --------------------service page start----------------- */

/* --------------------service banner start----------------- */

.service_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    box-shadow: 1000px 1000px 1000px 1000px #000000d4 inset;
}

/* --------------------service banner end----------------- */

/* --------------------service title desc start----------------- */

.service_title_desc {
    background-image: url("/assets/frontend/images/service_title.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service_title_desc a {
    color: #e36d6a !important;
    text-decoration: none !important;
}
.service_title_desc p span {
    font-size: 14px !important;
}
.service_title_desc h1 {
    font-size: 28px !important;
    font-weight: 600;
}
.service_title_desc h2 {
    font-size: 24px !important;
    font-weight: 600;
}
.service_title_desc h3 {
    font-size: 20px !important;
    font-weight: 600;
}
.service_title_desc h4 {
    font-size: 18px !important;
    font-weight: 600;
}

.service_title_desc ul li {
    font-size: 14px;
    line-height: 28px;
}
/* --------------------service title desc end----------------- */

/* --------------------service image start----------------- */

.service_img img {
    width: 100%;
}
.service_title_desc ol li {
    font-size: 14px;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 12px;
}
/* --------------------service image end----------------- */

/* --------------------service why choose start----------------- */

.service_why_choose {
    background: rgba(237, 237, 237, 1);
}

.service_why_choose .tabs.first {
    background: rgba(226, 226, 226, 1);
}

.service_why_choose .tabs.first p {
    color: #000;
}

.service_why_choose .tabs {
    text-align: center;
    padding: 17px 0;
    background: rgba(231, 64, 59, 1);
    border-radius: 25px 25px 0 0;
    margin-bottom: 45px;
}

.service_why_choose .tabs p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
    color: white;
}

.service_why_choose .nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service_why_choose .nav-pills .nav-link {
    padding: 17px 0;
    background: rgba(226, 226, 226, 1);
    border-radius: 25px 25px 0 0;
    margin-bottom: 20px;
    min-width: 320px;
    color: #000;
}
.service_why_choose h3 {
    font-size: 20px;
    font-weight: 600;
}
.service_why_choose .nav-pills .nav-link.active {
    background: rgba(231, 64, 59, 1);
    color: #fff;
}

/* --------------------service why choose end----------------- */

/* --------------------service related start----------------- */

/* --------------------service related end----------------- */
/* --------------------service get in touch start----------------- */

.service_get_in_touch {
    background-image: url("/assets/frontend/images/get_in.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.service_get_in_touch .desc {
    font-size: 20px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 0;
}

.service_get_in_touch a {
    text-decoration: none;
    color: #e7403b;
}

.service_get_in_touch a span:nth-child(2) {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

/* --------------------service get in touch end----------------- */

/* --------------------service page end----------------- */

/* ------------------ blog page start ------------- */

/* ------------------ blog banner start ------------- */

.blog_page_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.blog_page_cards .blog_big_box .hover_effect_img {
    position: relative;
}
.blog_page_cards .blog_big_box .hover_effect_img .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
}

.blog_page_cards .blog_big_box .hover_effect_img .overlay a {
    text-decoration: none;
}

.blog_page_cards .blog_big_box .hover_effect_img .overlay .plus {
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 100%;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.blog_page_cards .blog_big_box .hover_effect_img:hover .overlay {
    opacity: 1;
}

/* ------------------ blog banner end ------------- */

/* ------------------ blog page end ------------- */

/* ------------------ blog Details page start ------------- */

/* ------------------ blog Details page banner start ------------- */

.blog_details_page_banner img {
    width: 100%;
}

/* ------------------ blog Details page banner end ------------- */
/* ------------------ blog Details page breadcrumb start ------------- */

.blog_details_page_breadcrumb {
    padding: 36px 0;
    color: rgba(152, 152, 152, 1);
}
.blog_details_page_breadcrumb ul li a {
    color: #e36d6a !important;
}

.blog_details_page_title_desc a {
    color: #e36d6a !important;
    text-decoration: none !important;
}
.blog_details_page_title_desc ul li,
.blog_details_page_title_desc p span {
    font-size: 14px !important;
}
.blog_details_page_title_desc h1 {
    font-size: 28px !important;
    font-weight: 600 !important;
}
.blog_details_page_title_desc h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-top: 30px !important;
}
.blog_details_page_title_desc h3 {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-top: 30px !important;
}
.blog_details_page_title_desc h4 {
    font-size: 18px !important;
    font-weight: 600 !important;
}

/* ------------------ blog Details page breadcrumb end ------------- */
/* ------------------ blog Details page Title Desc start ------------- */

.testimonial {
    background: rgba(239, 239, 239, 1);
    display: flex;
    align-items: center;
    height: 206px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.testimonial .img_container {
    width: 130px;
    height: 120px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -34px;
    margin-top: -114px;
}

.testimonial .img_container span {
    font-size: 71px;
    margin-top: 42px;
    color: #e7403b;
}

.testimonial .text {
    width: 100%;
}
.testimonial .text p {
    max-width: 552px;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    color: rgba(115, 115, 115, 1);
}

/* ------------------ blog Details Title Desc end ------------- */

/* ------------------ blog Details page social start ------------- */

.blog_details_social .category span {
    background: rgba(238, 238, 238, 1);
    padding: 10px 20px;
    border-radius: 40px;
}

/* ------------------ blog Details page social end ------------- */
/* ------------------ blog Details page buttons start ------------- */

.blog_details_page_buttons {
    border-top: 1px solid rgba(212, 212, 212, 1);
    border-bottom: 1px solid rgba(212, 212, 212, 1);
    padding: 20px 0;
}

.blog_details_page_buttons .buttons button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    color: rgba(122, 122, 122, 1);
}

/* ------------------ blog Details page buttons end ------------- */
/* ------------------ blog Details page comments start ------------- */

.blog_details_page_comments .heading {
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    padding-bottom: 13px;
    margin-bottom: 34px;
}

.blog_details_page_comments .avatar {
    width: 94px;
    height: 94px;
    border-radius: 100%;
}

.blog_details_page_comments .avatar img {
    border-radius: 100%;
}

.blog_details_page_comments .name {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-left: 20px;
}
.blog_details_page_comments .date {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(122, 122, 122, 1);
    margin-bottom: 20px;
    padding-left: 20px;
}
.blog_details_page_comments .comment {
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    margin-bottom: 58px;
    padding-left: 20px;
}

.blog_details_page_comments button {
    border: none;
    background: #e7403b;
    padding: 9px 54px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.blog_details_page_comments .post_heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.blog_details_page_comments .post_comment {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 36px;
}

/* ------------------ blog Details page comments end ------------- */

/* ------------------ blog Details page end ------------- */

/* ------------------ Team page start ------------- */

/* ------------------ Team Banner start ------------- */

.team_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* ------------------ Team Banner end ------------- */
/* ------------------ Team Card start ------------- */

.team_wrapper {
    background: rgba(255, 255, 255, 0.2);
}
.team_wrapper .team_box {
    margin-bottom: 37px;
    margin-top: 0px;
}

.team_wrapper .team_box img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.team_wrapper .team_box .name {
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 5px;
}

.team_wrapper .team_box .bio {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
}

.team_wrapper .team_box a {
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    color: #e7403b;
}
.team_box p.desc {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
}
/* ------------------ Team Card end ------------- */
/* ------------------ Team page end ------------- */

/* ------------------ Team Details page Start ------------- */
/* ------------------ Team Details banner Start ------------- */
.team_d_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* ------------------ Team Details banner end ------------- */
/* ------------------ Team Details content Start ------------- */
.team_d_content {
    background-image: url("/assets/frontend/images/service_title.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team_d_content .team_img {
    width: 100%;
}
.team_d_content .content {
    padding-left: 70px;
}

.team_d_content .content .role {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}
.team_d_content .content .mail {
    margin-bottom: 50px;
}
.team_d_content .content .sub_heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #e7403b;
    margin-bottom: 15px;
}
.team_d_content .content .mail {
    margin-bottom: 50px;
}
.team_d_content .content ul li {
    margin-bottom: 6px;
}
/* ------------------ Team Details content end ------------- */

/* ------------------ Team Details page end ------------- */

/* -------------- Contact Page Start ----------------------  */

/* ------------- Contact Page banner Start ----------------------  */

.contact_p_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* ------------- Contact Page banner End ----------------------  */

/* ------------- Contact Page Contact Start ----------------------  */

.contact_p_form {
    padding-top: 78px;
}

.contact_p_form .sub_container {
    background: white;
    box-shadow: 4px -4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 43px 58px;
    margin-bottom: -211px;
}

.contact_p_form .heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 22px;
    color: black;
}

.contact_p_form .address {
    margin-bottom: 41px;
}
.contact_p_form .info_heading {
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
}
.contact_p_form .phone_email {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(73, 73, 73, 1);
}

.contact_p_form .phone_email span a {
    text-decoration: none;
    color: black;
}

.contact_p_form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 60px;
}
.contact_p_form form textarea,
.contact_p_form form input {
    width: 100%;
    padding: 10px 21px;
    background: rgba(243, 243, 243, 1);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(126, 126, 126, 1);
}

.contact_p_form form button {
    padding: 7px 44px;
    border: none;
    background: rgba(231, 64, 59, 1);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    color: white;
}

/* ------------- Contact Page Contact End ----------------------  */

/* ------------- Contact Page Address Start ----------------------  */

.contact_p_address {
    background-image: url("/assets/frontend/images/address.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.contact_p_address .sub_container {
    margin-top: 188px;
    padding: 0 120px;
}

/* ------------- Contact Page Address End ----------------------  */

/* ------------- Contact Page end ----------------------  */

/* ----------------- About Us Page Start ------------------ */

/* ----------------- About Us Page Banner Start ------------------ */
.about_page_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* ----------------- About Us Page Banner End ------------------ */
/* ----------------- About Us Page content Start ------------------ */

.about_page_content .about_content_img {
    width: 100%;
}

.about_page_content_2 {
    background-image: url(/assets/frontend/images/about_big_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* ----------------- About Us Page content End ------------------ */

/* ----------------- About Us Page End ------------------ */

/* ----------------- career  Page Start ------------------ */

/* ----------------- career  Page Banner Start ------------------ */
.career_page_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
section.career_page_content li span {
    line-height: 26px;
    font-size: 14px;
}
/* ----------------- career  Page Banner End ------------------ */
/* ----------------- career  Page Banner Start ------------------ */

.career_page_content .career_button {
    padding: 11px 35px;
    border: none;
    background: rgba(231, 64, 59, 1);
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 20px;
}

/* ----------------- career  Page Banner End ------------------ */

/* ----------------- career  Page popup form start ------------------ */

.modal {
    z-index: 9999 !important;
}

.modal-content {
    border-radius: 20px !important;
    max-width: 600px !important;
    width: 100% !important;
}

.modal-body {
    border-radius: 20px;
    background: #e4e4e4;
}

.career_popup_form {
    padding: 15px 20px 30px 20px;
    position: relative;
}
.career_popup_form .btn-close {
    position: absolute;
    top: 24px;
    right: 0;
}
.career_popup_form form h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}
.career_popup_form form textarea,
.career_popup_form form select,
.career_popup_form form input {
    border: none;
    font-size: 12px;
    padding: 10px 20px;
    background: #d2d2d2;
    border-radius: 10px;
    width: 100%;
}
.career_popup_form form button {
    padding: 10px 48px;
    border: none;
    background: #e7403b;
    color: white;
    text-align: center;
    border-radius: 10px;
}

/* ----------------- career  Page popup form End ------------------ */

/* ----------------- career  Page End ------------------ */

/* ----------------- faq  Page Start ------------------ */

/* ----------------- faq  Page Banner Start ------------------ */
.faq_page_banner {
    background-image: url("/assets/frontend/images/service_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.faq_page_banner .heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

.faq_page_accordion li {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 6px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}
/* ----------------- faq  Page Banner End ------------------ */
/* ----------------- faq  Page faqs Start ------------------ */

.faq_page_accordion .accordion .accordion-item {
    margin-bottom: 21px;
    border: 1px solid rgba(201, 201, 201, 1);
}

.faq_page_accordion .accordion .accordion-item .accordion-header {
    border-radius: none !important;
}

.faq_page_accordion
    .accordion
    .accordion-item
    .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
.faq_page_accordion .accordion .accordion-item .accordion-button {
    padding: 1.5rem 2.25rem;
}
.faq_page_accordion .accordion .accordion-item .accordion-body {
    padding: 0 2.25rem 2rem 2.25rem;
}

/* ----------------- faq  Page faqs End ------------------ */

/* ----------------- faq  Page End ------------------ */

/* ---------------practice area white start ------------- */

.practice_w_card {
    background: rgba(244, 244, 244, 1);
    flex-direction: column;
    transition: all 0.5s;
}
.practice_w_card:hover {
    background: #e36d6a47;
}
.practice_w_card .heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #494949;
    text-decoration: none;
}

/* ---------------practice area white End ------------- */

/* ----------------- mobile css ------------------ */

/*--responsive css start--*/
.faq_page_accordion .accordion-button {
    font-weight: 700;
}
.heading2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.career_page_content a {
    font-weight: 800;
    color: #000;
}

/* ---------------- 404 start ---------------- */

.container_404 h2 {
    font-size: 128px;
    font-weight: 700;
    line-height: 161px;
}
.container_404 h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.container_404 p {
    font-size: 20px;
    font-weight: 700;
    line-height: 52px;
}
.container_404 button {
    padding: 12px 48px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border: none;
    background: #f00;
    color: white;
}

/* ---------------- 404 end ---------------- */

/* ------------ thank you page start ----------------- */

.thankyou_container h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
.thankyou_container h6 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.thankyou_container p {
    font-size: 20px;
    font-weight: 700;
    line-height: 52px;
}

.thankyou_container button {
    padding: 12px 48px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border: none;
    background: #f00;
    color: white;
}
.contact_form .error {
    font-size: 10px;
    color: #f00;
}

#add_contact_us_form .error {
    font-size: 10px;
    color: #f00;
}

select.aos-init.aos-animate.error {
    color: #555;
}

.footer_textarea {
    padding: 9px 20px !important;
    width: 100% !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    border: 1px solid rgba(73, 73, 73, 1) !important;
    outline: none !important;
    background: transparent !important;
    color: rgba(159, 159, 159, 1) !important;
}
.searc_boxex {
    background: #f4f4f4;
    padding: 24px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #cccccc7d;
}

.searc_boxex h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.searc_boxex a {
    color: #e7403b;
}
.search_right img {
    cursor: pointer;
    margin-top: -5px;
}
/* ------------ thank you page end ----------------- */

/*-- cookies css open--*/
.cookies_section {
    position: fixed;
    right: -420px;
    bottom: 50px;
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.cookies_section.show {
    right: 20px;
}

.cookies_section .title-box i {
    font-size: 32px;
}
.cookies_section .title-box h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.cookies_section .info {
    margin-bottom: 15px;
}
.cookies_section img {
    width: 58px;
    padding-right: 12px;
}
.cookies_section .info p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.cookies_section .info p a {
    color: #e7403b;
    text-decoration: none;
}
.cookies_section .info p a:hover {
    text-decoration: underline;
}
.cookies_section .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cookies_section .cookies_button {
    width: calc(100% / 2 - 10px);
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #e7403b96;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.cookies_section .cookies_button:hover {
    background-color: #e7403b;
}

.blog_filter_btn {
    padding: 10px 25px;
    background: lightgray;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}
.blog_filter_btn.active {
    background: #e36d6a;
    color: white;
}
.blog_filter_btn.active:hover {
    color: white !important;
}
.blog_filter_btn:hover {
    color: black !important;
}

.whatsapp_blink .btn-whatsapp-pulse {
    background: #25d366;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 35px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}

.wcs_button_circle {
    width: auto !important;
    height: auto !important;
}

.load-more {
    background: #e36d6a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
}
.common_btn {
    background: #e36d6a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    transition: all 0.5s;
    text-decoration: none;
}
.common_btn:hover {
    background: lightgray;
    color: black !important;
}

.wcs_button_circle .fa {
    font-size: 48px !important;
}
